.center {
    text-align:center;
}
#menu li{

    display: inline;
    padding: 1rem;
    text-decoration: none;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

} 

#menu li a:hover{
    color: grey;
}
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.ml-50 {
    margin-left: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}
.tm-social {
    width: 30px;
    height: 30px;
}
.p-30 {
    padding: 30px;
}